* { box-sizing: border-box; }
a:link,
a:visited {
    color: #000000;
    outline: 0;
    text-decoration: none;
}

body.container {
    font-family: 'Roboto', 'Open Sans', sans-serif;
    font-size: 12px;
    margin: 0;
    min-height: 400px;
    padding: 0.5rem;
    width: 384px;
}

body.container #overlay {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #FFFFFF;
    z-index: 2;
}

body.container #overlay .authentication {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
}

body.container #overlay .authentication #login {
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    color: #757575;
    border-radius: 6px;
    border: 1px solid #f2f2f2;
    background-color: #f2f2f2;
    cursor: pointer;
    outline: none;
    transition: all .5s ease;
}

body.container #overlay .authentication #login:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    background: #F8F8F8;
    transition: all .5s ease;
}

body.night { background: #00151f; }
body.night a:visited,
body.night a:link { color: #000000; }

body.night .card:hover {
    box-shadow: 0 8px 16px 0 rgba(47,88,118,0.5);
    background: #b7bbbb;
}

body.night .card {
    box-shadow: 0 4px 6px 0 rgba(47,88,118,0.3);
    background: #d3d4d4;
    color: #000000;
}

body.night h1,
body.night .version { color: #d3d4d4; }

.grid-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 23%);
    margin: 10px;
}

.logo-icon {
    height: auto;
    width: 40px;
    display: inline-block;
}

.logo-overlay { margin-right: 20px; }

#icon-overlay {
    width: 60px;
    height: auto;
}

.description {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8px;
}

.description h1 {
    font-family: inherit;
    font-size: 24px;
    font-weight: 700;
    color: #2f5876;
    display: inline-block;
}

img { width: 30px; }

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.1);
    transition: 0.3s;
    border-radius: 3px;
    color: #2f5876;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 100%;
}

.card a { text-align: center; }

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    background: #F8F8F8;
    font-weight: bold;
    transition: font-weight .3s ease;
}

.divider {
    width: 100%;
    height: 1px;
    margin: 20px 0;
    background-color: rgba(238, 238, 238, 1);
}

.version {
    color: #000;
    font-size: 12px;
    font-family: monospace;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 27px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider { background-color: #2f5876; }
input:focus + .slider { box-shadow: 0 0 1px #2f5876; }

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(24px);
}

/* Rounded sliders */
.slider.round { border-radius: 45px; }
.slider.round:before { border-radius: 50%; }

#alert {
    width: 100%;
    height: 60px;
    background: #000000;
    top: 0;
    position: fixed;
    left: 0;
    color: #FFFFFF;
    z-index: 3;
    font-size: 14px;
    padding: 10px;
    overflow: scroll;
}
